<style type="text/css">
  label{
    color: #444;
    font-size: 12px;
    margin-left: 15px;
  }

  .row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin-top: 15px;

  }

</style>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{client.name == null ? 'New Client' : 'Edit Client'}}</h1>
  </div>  
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" >
  <div class="col-lg-9">
    <div class="panel-group" >
      <div class="panel panel-default" style="background-color:#f5f5f5">
        <div class="panel-heading" style="background-color:white">
          <h4 class="panel-title" style="cursor:pointer">
           <i ng-show= '!down' class="fa fa-caret-right"></i><i ng-show= 'down' class="fa fa-caret-down"></i> <a ng-click='down == true ? down = false : down = true' data-toggle="collapse" data-target="#collapse1" style="font-weight: bold">General</a>
         </h4>
       </div>
       <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
         <div class="row row-bordered">
           <div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
             <label style="margin-left:inherit" for="singleSelect" >Business Structure</label>
             <select  class="form-control" name="singleSelect" id="singleSelect" ng-model="client.business_structure">
              <option value="" >Select...</option> 
              <option value="Company">Company</option>
              <option value="Individual">Individual</option>
              <option value="Self Managed Superannuation Fund">Self Managed <br/>Superannuation Fund</option>
              <option value="Sole Trader">Sole Trader</option>
              <option value="Superannuation Fund">Superannuation Fund</option>
              <option value="Trust">Trust</option>
            </select>
          </div>


          <div style="margin-top : 5px" class="col-lg-3">
            <label style="margin-left:inherit" for="singleSelect">Partner</label>
            <select class="form-control" name="singleSelect" id="singleSelect" ng-model="client.partner">
              <option value="">Select...</option> 
              <option value="Jeffrey dela Cruz">Jeffrey dela Cruz</option>
              <option value="Reuben Bergola">Reuben Bergola</option>
            </select>
          </div>

          <div style="margin-top : 5px" class="col-lg-3">
            <label style="margin-left:inherit" for="singleSelect">Manager</label>
            <select class="form-control"  name="singleSelect" id="singleSelect" ng-model="client.manager">
              <option value="">Select...</option> 
              <option value="Jeffrey dela Cruz">Jeffrey dela Cruz</option>
              <option value="Reuben Bergola">Reuben Bergola</option>
            </select>
          </div>
        </div>

        <div class="row row-bordered" ng-hide="client.business_structure == 'Individual' || client.business_structure == 'Sole Trader'  ">
          <div style="margin-top : 15px"><label>Name</label><span style='color : red'>*</span></div>
          <div style="margin-bottom : 15px" class="col-lg-9"><input class="form-control" ng-model="client.name"  ></div>
        </div>

        <div  ng-show="client.business_structure == 'Individual' || client.business_structure == 'Sole Trader'  ">
          <div class="row row-bordered">
            <div style="margin-top : 15px" class="col-lg-3">
              <label style="margin-left : inherit">First Name<span style='color : red'>*</span></label>
              <input class="form-control" ng-model="client.firstName" >
            </div>
            <div style="margin-top : 15px" class="col-lg-3">
              <label style="margin-left : inherit">Last Name<span style='color : red'>*</span></label>
              <input class="form-control" ng-model="client.lastName" >
            </div>
            <div style="margin-top : 15px" class="col-lg-3">
              <label style="margin-left : inherit">Other Name</label>
              <input class="form-control" ng-model="client.otherName" >
            </div>
            <div style="margin-top : 15px" class="col-lg-3">
              <label style="margin-left : inherit">Date Of Birth <span style="color:grey; font-size:10px">(YYYY-MM-DD)</span></label>
              <div class="dropdown" style="margin-bottom : 15px">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown"  >
                  <div class="input-group"><input type="text" class="form-control" data-ng-model="client.dob"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="client.dob" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' , minView : 'day' ,modelType: 'YYYY-MM-DD'}"/>
                </ul>
              </div>
            </div>
          </div>
          <div class="row row-bordered">
            <div style="margin-top : 15px;margin-bottom : 15px" class="col-lg-3">
              <label style="margin-left : inherit">Title</label>
              <input  class="form-control" ng-model="client.title" >
            </div>
            <div style="margin-top : 15px" class="col-lg-3">
              <label style="margin-left : inherit" for="singleSelect">Gender</label>
              <select class="form-control" name="singleSelect" id="singleSelect" ng-model="client.gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default" style="background-color:#f5f5f5;margin-top:0">
    <div class="panel-heading" style="background-color:white">
      <h4 class="panel-title" style="cursor:pointer">
        <i ng-show= '!down2' class="fa fa-caret-right"></i><i ng-show= 'down2' class="fa fa-caret-down"></i> <a ng-click='down2 == true ? down2 = false : down2 = true' data-toggle="collapse" data-target="#collapse2" style="font-weight: bold">Contact Details</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">

       <div class="row row-bordered">
         <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-2">
          <label style="margin-left:inherit">Phone</label>
        </div>
        <div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-2">
          <input class="form-control"  ng-model="client.phone">
        </div>
      </div>

      <div class="row row-bordered">
       <div style="margin-top : 22px; margin-bottom : 15px" class="col-lg-2">
         <label style="margin-left:inherit">Fax</label>
       </div>
       <div style="margin-top : 15px; margin-bottom : 15px" class="col-lg-2">
        <input class="form-control"  ng-model="client.fax">
      </div>
    </div>

    <div class="row row-bordered">
     <div style="margin-top : 22px; margin-bottom : 15px" class="col-lg-2">
       <label style="margin-left:inherit">Email Address</label>
     </div>
     <div style="margin-top : 15px; margin-bottom : 15px" class="col-lg-3">
      <input class="form-control"  ng-model="client.email">
    </div>
  </div>

  <div class="row row-bordered">
   <div style="margin-top : 22px; margin-bottom : 15px" class="col-lg-2">
     <label style="margin-left:inherit">Website</label>
   </div>
   <div style="margin-top : 15px; margin-bottom : 15px" class="col-lg-3">
    <input class="form-control" placeholder="http://" ng-model="client.website">
  </div>
</div>

<div class="row">
 <div style="margin-top : 22px; margin-bottom : 15px" class="col-lg-2">
   <label style="margin-left:inherit">Physical Address</label>
 </div>
 <div style="margin-top : 15px; margin-bottom : 15px" class="col-lg-5">
  <textarea class="form-control" placeholder="Street Address or PO Box" ng-model="client.street_address"></textarea> 
</div>
</div>

<div class="row ">
 <div  class="col-lg-2"></div>
 <div style=" margin-bottom : 15px" class="col-lg-5">
  <input class="form-control" placeholder="Town / City" ng-model="client.city"></input> 
</div>
</div>

<div class="row ">
 <div  class="col-lg-2"></div>
 <div style=" margin-bottom : 15px" class="col-lg-3">
  <input class="form-control" placeholder="State / Region" ng-model="client.region"></input> 
</div>
<div style=" margin-bottom : 15px" class="col-lg-2">
  <input class="form-control" placeholder="Postal / Zip Code" ng-model="client.postal"></input> 
</div>
</div>

<div class="row row-bordered">
 <div  class="col-lg-2"></div>
 <div style=" margin-bottom : 15px" class="col-lg-5">
  <input class="form-control" placeholder="Country" ng-model="client.country"></input> 
</div>
</div>


</div>
</div>
<div class="panel panel-default" style="background-color:#f5f5f5;margin-top:0">
  <div class="panel-heading" style="background-color:white">
    <h4 class="panel-title" style="cursor:pointer">
      <i ng-show= '!down3' class="fa fa-caret-right"></i><i ng-show= 'down3' class="fa fa-caret-down"></i> <a ng-click='down3 == true ? down3 = false : down3 = true' data-toggle="collapse" data-target="#collapse3" style="font-weight: bold">Tax and Company</a>
    </h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
    <div class="panel-body">

     <div class="row row-bordered">
       <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
        <label style="margin-left:inherit">TFN</label>
      </div>
      <div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
        <input class="form-control"  ng-model="client.tfn">
      </div>
    </div>

    <div class="row row-bordered">
     <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
      <label style="margin-left:inherit">ABN/WPN</label>
    </div>
    <div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
      <input class="form-control"  ng-model="client.abn">
    </div>
  </div>

  <div class="row row-bordered">
   <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
    <label style="margin-left:inherit">Branch/CAC/ICA #</label>
  </div>
  <div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
    <input class="form-control"  ng-model="client.branch">
  </div>
</div>

<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">ACN</label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <input class="form-control"  ng-model="client.acn">
</div>
</div>

<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">Balance Date</label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-2">
  <div class="dropdown" >
    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown"  >
      <div class="input-group"><input type="text" class="form-control" data-ng-model="client.balance_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="client.balance_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' , minView : 'month' ,startView : 'month' , modelType: 'MM'}"/>
    </ul>
  </div>
</div>
</div>

<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-4">
  <label style="margin-left:inherit">Prepare Activity Statements <span style="color:grey; font-size:10px">(YYYY-MM-DD)</span></label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <div class="dropdown" >
    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown"  >
      <div class="input-group"><input type="text" class="form-control" data-ng-model="client.prepare_activity_statements"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="client.prepare_activity_statements" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' , minView : 'day' ,modelType: 'YYYY-MM-DD'}"/>
    </ul>
  </div>
</div>
</div>

<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-4">
  <label style="margin-left:inherit">Prepare Tax Form <span style="color:grey; font-size:10px">(YYYY-MM-DD)</span></label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <div class="dropdown" >
    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown"  >
      <div class="input-group"><input type="text" class="form-control" data-ng-model="client.prepare_tax_form"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="client.prepare_tax_form" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' , minView : 'day' ,modelType: 'YYYY-MM-DD'}"/>
    </ul>
  </div>
</div>
</div>

<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">BSB Bumber</label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <input class="form-control"  ng-model="client.bsb">
</div>
</div>
<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">Account Number</label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <input class="form-control"  ng-model="client.account_number">
</div>
</div>
<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">Account Name</label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <input class="form-control"  ng-model="client.account_name">
</div>
</div>
<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">Financial Institution Name</label>
</div>
<div style="margin-top : 5px; margin-bottom : 15px" class="col-lg-3">
  <input class="form-control"  ng-model="client.financial_institution_name">
</div>
</div>
<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">Fee From Refund</label>
</div>
<div style="margin-top : 15px; margin-bottom : 15px" class="col-lg-3">
  <input   type="checkbox" ng-model="client.free_from_refund">
</div>
</div>

<div class="row row-bordered">
 <div style="margin-top : 12px; margin-bottom : 15px" class="col-lg-3">
  <label style="margin-left:inherit">Active ATO Client</label>
</div>
<div style="margin-top : 15px; margin-bottom : 15px" class="col-lg-3">
  <input   type="checkbox" ng-model="client.active_ato_client">
</div>
</div>





</div>
</div>
</div>
</div>


<div class="form-group">
  <button ng-show="(client.name != '' && client.name != null) ||  ((client.firstName != '' && client.firstName != null) && (client.lastName != '' && client.lastName != null))" ng-click="addClient(client)" class="btn btn-success" >Save<i class="fa fa-save fa-fw"></i></button>
</div>
</div>
<!-- /.col-lg-6 (nested) -->
</div>
<!-- /.row (nested) -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>