<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Administration</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Administration
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row" style="margin-bottom : 10px">
          <div class="col-sm-2">
            Campaigns
          </div>
          <div class="col-sm-10">
            <a ui-sref="dashboard.campaign">
              <button class="btn btn-info" ><strong>View List</strong></button>
            </a>
            <a ui-sref="dashboard.addCampaign">
              <button class="btn btn-success" ><strong>Add New</strong></button>
            </a>
          </div> 
        </div>
        <div class="row"  style="margin-bottom : 10px">
          <div class="col-sm-2">
          Interactions
          </div>
          <div class="col-sm-10">
            <a ui-sref="dashboard.interactions">
              <button class="btn btn-info" ><strong>View List</strong></button>
            </a>
            <a ui-sref="dashboard.addInteractions">
              <button class="btn btn-success" ><strong>Add New</strong></button>
            </a>
          </div> 
        </div>
        <div class="row"  style="margin-bottom : 10px">
          <div class="col-sm-2">
            Clients
          </div>
          <div class="col-sm-10">
            <a ui-sref="dashboard.client">
              <button class="btn btn-info" ><strong>View List</strong></button>
            </a>
            <a ui-sref="dashboard.addClient">
              <button class="btn btn-success" ><strong>Add New</strong></button>
            </a>
          </div> 
        </div>
        <div class="row"  style="margin-bottom : 10px">
          <div class="col-sm-2">
            Grades
          </div>
          <div class="col-sm-10">
            <a ui-sref="dashboard.grade">
              <button class="btn btn-info" ><strong>View List</strong></button>
            </a>
            <a ui-sref="dashboard.addGrade">
              <button class="btn btn-success" ><strong>Add New</strong></button>
            </a>
          </div> 
        </div>
        <div class="row"  style="margin-bottom : 10px">
          <div class="col-sm-2">
            QA Profiles
          </div>
          <div class="col-sm-10">
            <a ui-sref="dashboard.qaProfile">
              <button class="btn btn-info" ><strong>View List</strong></button>
            </a>
            <a ui-sref="dashboard.addQaProfile">
              <button class="btn btn-success" ><strong>Add New</strong></button>
            </a>
          </div> 
        </div>


        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>