<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Groups</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Groups
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div >
                     <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-column-defs="dtColumnDefs" class="row-border hover table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Name</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="groups in groupss">
                                <td>{{ $index + 1 }}</td>
                               <td><a ui-sref="dashboard.show_group({groupId : groups._id})">{{ groups.name }}</a></td>
                               
                               <td>
                                <button type="button" ng-click="modifyGroups(groups,$index)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                <button type="button" ng-click="removeGroups(groups,$index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


                          </div>
                          <!-- <button class= "btn btn-success" ng-click="accept($index)"><strong>Add New Client</strong></button> -->
                          <a ui-sref="dashboard.addGroups">
                                <button class="btn btn-success" ><strong>New Group</strong></button>
                            </a>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div>
              <!-- /.col-lg-6 -->
          </div>