<style>
  .row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 20px;
    margin-left: 35px;

  }

  .row-bordered-no-margin:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 15px;

  }

  .trial{
    margin-bottom: 15px;
  }

  .left-align{
    margin-left: 20px;
    color: gray;

  }

  .highlights{
   margin-bottom : 15px; 
   border-bottom: 1px solid #ccc; 
   margin-right : 5px;
 }

 .bigger{
  font-weight : bold;
  font-size : 17px;

}
.contact-details{
  font-size: 12px;
}
</style>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{client.name}}</h1>
    <p> Client - <span style="color : gray">{{client.business_structure}}</span><span style="margin-right: 0px"> <button  ng-click="modifyClient(client)" class="btn btn-link" ><i class="fa fa-pencil fa-fw"></i></button></span></p>

  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p style="font-weight: bold"> Details </p>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <h5 class="highlights"> Tax and Company </h5>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">TFN</span></div>
          <div class="col-xs-5 trial">{{client.tfn ? client.tfn : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">ABN/WPN</span></div>
          <div class="col-xs-5 trial">{{client.abn ? client.abn : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Branch/CAC/ICA #</span></div>
          <div class="col-xs-5 trial">{{client.branch ? client.branch : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">ACN</span></div>
          <div class="col-xs-5 trial">{{client.acn ? client.acn : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Balance Date</span></div>
          <div class="col-xs-5 trial">{{client.balance_date == '01' ? 'January' : 
            client.balance_date == '02' ? 'February' : 
            client.balance_date == '03' ? 'March' :
            client.balance_date == '04' ? 'April' :
            client.balance_date == '05' ? 'May' :
            client.balance_date == '06' ? 'June' :
            client.balance_date == '07' ? 'July' :
            client.balance_date == '08' ? 'August' :
            client.balance_date == '09' ? 'September' :
            client.balance_date == '10' ? 'October' :
            client.balance_date == '11' ? 'November' :
            client.balance_date == '12' ? 'December' : '-'
          }}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Prepare Activity Statements</span></div>
          <div class="col-xs-5 trial">{{client.prepare_activity_statements ? 'Yes' : "No"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Activity Statements Due Date</span></div>
          <div class="col-xs-5 trial">{{client.prepare_activity_statements ? (client.prepare_activity_statements | date) : '-'}}</div>
        </div>

        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Prepare Tax Form</span></div>
          <div class="col-xs-5 trial">{{client.prepare_tax_form ? 'Yes' : "No"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Tax Form Due Date</span></div>
          <div class="col-xs-5 trial">{{client.prepare_tax_form ? (client.prepare_tax_form | date) : '-'}}</div>
        </div>

        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">BSB Bumber</span></div>
          <div class="col-xs-5 trial">{{client.bsb ? client.bsb : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Account Number</span></div>
          <div class="col-xs-5 trial">{{client.account_number ? client.account_number : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Account Name</span></div>
          <div class="col-xs-5 trial">{{client.account_name ? client.account_name : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Financial Institution Name</span></div>
          <div class="col-xs-5 trial">{{client.financial_institution_name ? client.financial_institution_name : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Client Code</span></div>
          <div class="col-xs-5 trial">{{client.client_code ? client.client_code : "-"}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Fee From Refund</span></div>
          <div class="col-xs-5 trial">{{client.free_from_refund ? 'Yes' : 'No'}}</div>
        </div>
        <div class="row row-bordered">
          <div class="col-xs-7 trial"><span class="left-align">Active ATO Client</span></div>
          <div class="col-xs-5 trial">{{client.active_ato_client ? 'Yes' : 'No'}}</div>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>



  <div class="col-lg-5">
    <div style="width: 400px">
     <div class="row row-bordered-no-margin" >
      <div class="col-xs-12 trial bigger">Contact Details</div>   
    </div>
  </div> 
  <div style="width: 400px" ng-show="client.title" class="contact-details">
   <div class="row row-bordered-no-margin" >
    <div class="col-xs-5 trial " style="color:gray">Title</div>
    <div class="col-xs-7 trial ">{{client.title}}</div>   
  </div>
</div>
<div style="width: 400px" ng-show="client.gender" class="contact-details">
 <div class="row row-bordered-no-margin" >
  <div class="col-xs-5 trial " style="color:gray">Gender</div>
  <div class="col-xs-7 trial ">{{client.gender}}</div>   
</div>
</div>  
<div style="width: 400px" ng-show="client.dob" class="contact-details">
 <div class="row row-bordered-no-margin" >
  <div class="col-xs-5 trial " style="color:gray">Date of birth</div>
  <div class="col-xs-7 trial ">{{client.dob | date}}</div>   
</div>
</div>
<div style="width: 400px" ng-show="client.phone" class="contact-details">
 <div class="row row-bordered-no-margin" >
  <div class="col-xs-5 trial " style="color:gray">Phone</div>
  <div class="col-xs-7 trial ">{{client.phone}}</div>   
</div>
</div>
<div style="width: 400px" ng-show="client.email" class="contact-details">
 <div class="row row-bordered-no-margin" >
  <div class="col-xs-5 trial " style="color:gray">Email Address</div>
  <div class="col-xs-7 trial "><a>{{client.email}}</a></div>   
</div>
</div>
<div style="width: 400px" ng-show="client.website" class="contact-details">
 <div class="row row-bordered-no-margin" >
  <div class="col-xs-5 trial " style="color:gray">Website</div>
  <div class="col-xs-7 trial "><a >{{client.website}}</a></div>   
</div>
</div>
<div style="width: 400px" ng-show="client.street_address || client.city || client.region || client.postal || client.country" class="contact-details">
 <div class="row row-bordered-no-margin" >
  <div class="col-xs-5 trial " style="color:gray">Physical Address</div>
  <div class="col-xs-7 trial ">{{client.street_address}} {{client.city}} {{client.region}} {{client.postal}} {{client.country}}</div>   
</div>
</div>       

<div ng-controller="AddGroupClientCtrl">
 <div style="width: 400px">
   <div class="row row-bordered-no-margin" >
    <div class="col-xs-12 trial bigger">Groups
      <span style="margin-left : 190px" ><button class="btn btn-link" ng-click="addGroup()">+ Add to Group </button></span></div>
    </div>
  </div>
  <div ng-repeat="groups in groupss">
    <div ng-show="groups.hide" style="width: 400px">
      <div class="row row-bordered-no-margin" >
        <div class="col-xs-12">
          <p><a ui-sref="dashboard.show_group({groupId : groups._id})">{{ groups.name }}</a></p>
        </div>  
      </div>
    </div>
  </div>
</div>
<div style="margin-top : 30px">
  <div ng-controller="AddContactClientCtrl">
   <div style="width: 400px">
     <div class="row row-bordered-no-margin" >
      <div class="col-xs-12 trial bigger">Contacts
        <span style="margin-left : 180px" ><button class="btn btn-link" ng-click="addContact()">+ Add Contact </button></span></div>
      </div>
    </div>
    <div ng-repeat="contact in contacts">
      <div ng-show="contact.show" style="width: 400px">
        <div class="row row-bordered-no-margin" >
          <div class="col-xs-12">
            <p><a ui-sref="dashboard.show_contact({contactId : contact._id})">{{ contact.name }}</a></p>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top : 30px">
  <div ng-controller="AddRelationshipClientCtrl">
   <div style="width: 400px">
     <div class="row row-bordered-no-margin" >
      <div class="col-xs-12 trial bigger">Relationships
        <span style="margin-left : 135px" ><button class="btn btn-link" ng-click="addRelationship()">+ Add Relationship </button></span></div>
      </div>
    </div>
    <div ng-repeat="relationship in relationships">
      <div  style="width: 400px">
        <div class="row row-bordered-no-margin" >
          <div class="col-xs-12">
            {{relationship.type}} <a ui-sref="dashboard.show_client({clientId : relationship.relatedClient._id})">{{ relationship.relatedClient.name }}</a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row" style="margin-top: 50px">
  <div class="col-xs-3"><h4>Relationships : </h4></div>
</div>  
<div ng-repeat="relationship in relationships">
  <div class="row" >
    <div class="col-xs-3">
      {{relationship.type}} <a ui-sref="dashboard.show_client({clientId : relationship.relatedClient._id})">{{ relationship.relatedClient.name }}</a>
    </div>  

  </div>
</div> -->

</div>

<!-- /.col-lg-6 -->
</div>