<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Client</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4> {{client.name}} </h4>
        <p> Client : {{client.business_structure}}</p>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <h5> Tax and Company </h5>
        <div class="row">
          <div class="col-xs-3">TFN</div>
          <div class="col-xs-9">{{client.tfn}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">ABN/WPN</div>
          <div class="col-xs-9">{{client.abn}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Branch/CAC/ICA #</div>
          <div class="col-xs-9">{{client.branch}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">BSB Bumber</div>
          <div class="col-xs-9">{{client.bsb}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Account Number</div>
          <div class="col-xs-9">{{client.account_number}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Account Name</div>
          <div class="col-xs-9">{{client.account_name}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Financial Institution Name</div>
          <div class="col-xs-9">{{client.financial_institution_name}}</div>
        </div>
        <div class="row">
        <div class="col-xs-3">Client Code</div>
          <div class="col-xs-9">{{client.client_code}}</div>
        </div>

        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
  </div>