<div class="modal-header">
    <h3>New Relationship</h3>
</div>
<form name="form.userForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->

        <div class="form-group">
            <div class="row">
                <div class="col-xs-5"> <label for="sel1">Relationship Type</label></div>
                <div class="col-xs-7">
                  <select class="form-control" id="sel1" ng-model="relationship.type">
                    <option value="" selected disabled>Select Relationship ...</option> 
                    <option value="Appointer Of">Appointer Of</option>
                    <option value="Auditor Of">Auditor Of</option>
                    <option value="Beneficiary Of">Beneficiary Of</option>
                    <option value="Child Of">Child Of</option>
                    <option value="Director Of">Director Of</option>
                    <option value="Member Of">Member Of</option>
                    <option value="Owner Of">Owner Of</option>
                    <option value="Parent Of">Parent Of</option>
                    <option value="Partner Of">Partner Of</option>
                    <option value="Public Officer Of">Public Officer Of</option>
                    <option value="Secretary Of">Secretary Of</option>
                    <option value="Settlor Of">Settlor Of</option>
                    <option value="Shareholder Of">Shareholder Of</option>
                    <option value="Spouse Of">Spouse Of</option>
                    <option value="Trustee Of">Trustee Of</option>
                    <option value="Unitholder Of">Unitholder Of</option>

                </select>
            </div>
        </div>

        <div class="form-group" style="margin-top : 30px">
            <div class="row">
                <div class="col-xs-5"> <label for="sel1">Related Client</label></div>
                <div class="col-xs-7">
                  <select  class="form-control" id="sel1" ng-model="relationship.relatedClient"> 
                    <option ng-repeat="option in clients" value="{{option._id}}" ng-hide="{{option.hide}}">{{option.name}}</option>
                </select>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" ng-click="save(relationship)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>